.footer {
  position: relative;
  width: 100%;
  height:100%;
  z-index: 1;
}

/* Image at the bottom of the screen */
.footerBottomImage {
  position: absolute;
  bottom: 0;
  left: 0;
  right:0;
  width: 100%;
  height: auto;
  pointer-events: none;
  z-index:-1; 
  width:100%;
}
