.buttonDiv{
    width:100%;
}

.button{
    font-family: 'Brandon Text';
    display: inline-flex;
    width:100%;
    max-width: 600px;
    align-items: center;
    justify-content: center;
    background: #00369A;
    color: #FFFFFF;
    box-shadow: 1.1px 0.74px 2.21px 0px #000000BF;
    border: 2.21px solid #FFFFFF;
    padding:1rem 2rem;
    border-radius: 0.5rem;
    cursor:pointer; 
    font-weight: bold;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle; 
}